@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #153448;
  padding: 60px;
  color: white;
  border-bottom: #3c5b6f solid 1px;
  height: 400px;
}

.cv {
  display: flex;
  width: 30%;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 0 auto;
}

.cv-img {
  background-image: url("https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  width: 250px;
  height: 350px;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  border-radius: 20px;
  transition: 0.5s;
}

.cv-img:hover {
  transform: scale(1.01);
  box-shadow: 1px 1px 46px -1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 1px 46px -1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 46px -1px rgba(0, 0, 0, 0.5);
}

.cv-img h4 {
  position: relative;
  top: 300px;
  z-index: 0;
}

.cv-img h4 a {
  padding: 6px 76px 6px 76px;
  border-radius: 12px;
  background-color: #3c5b6f;
  color: white;
  text-decoration: none;
  transition: 0.5s all;
}

.cv-img h4 a:hover {
  background-color: rgba(21, 52, 72, 0);
  color: #153448;
  border: #153448 solid 1px;
}

.about-me {
  width: 50%;
  padding: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 auto;
  text-align: justify;
  height: 350px;
}

.about-me h3 {
  margin: 50px 0px 50px 0px;
  display: inline;
  cursor: pointer;
  font-size: 20px;
}

.about-me h3:hover {
  color: #ffffff9e;
}

.menyalaa {
  display: flex;
}

.menyalaa .satu {
  width: 130px;
}

.line {
  height: 2px;
  background-color: #ffffff9e;
  width: 0;
  transition: width 0.3s ease-in-out;
  margin-top: 5px;
}

.line.active {
  width: 104px;
}

.uline {
  height: 2px;
  background-color: #ffffff9e;
  width: 0;
  transition: width 0.3s ease-in-out;
  margin-top: 5px;
}

.uline.active {
  width: 50px;
}

.skilll {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
}

.skil {
  width: 400px;
}

@media screen and (max-width: 768px) {
  .about {
    flex-direction: column;
    padding-top: 90px;
    height: auto;
  }

  .cv {
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
  }

  .cv-img {
    width: 250px;
    height: 350px;
  }

  .about-me {
    width: 100%;
    text-align: center;
    padding: 20px;
  }

  .menyalaa {
    justify-content: center;
  }

  .skilll {
    flex-direction: column;
    align-items: center;
  }

  .skil {
    width: 100%;
    padding: 20px;
  }
}
