@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.portfolio {
  display: block;
  justify-content: space-between;
  align-items: center;
  background-color: #153448;
  padding: 10px;
  color: white;
  border-bottom: #3c5b6f solid 1px;
}

.portfolio-project {
  display: flex;
  flex-direction: column;
}

.mini-project {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mini-project h3 {
  margin: 10px;
  cursor: pointer;
}

.mini-project h3:hover {
  color: #ffffff9e;
}

.lines,
.ulines {
  height: 2px;
  background-color: #ffffff9e;
  width: 0;
  transition: width 0.3s ease-in-out;
  margin-top: 5px;
}

.lines.active,
.ulines.active {
  width: 140px;
}

.mini-project .miniGames,
.mini-project .miniProject,
.mini-project .uiux {
  width: 140px;
  margin: 19px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap; /* Kartu akan meluncur ke bawah saat tidak cukup ruang */
  justify-content: center; /* Jarak antara kartu */
  gap: 20px; /* Jarak antara kartu */
}

.cards {
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 20px;
  height: 200px;
  background-color: darkgrey;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  position: relative;
}


.isi {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  height: 180px;
  transition: opacity 0.3s ease-in-out;
}

.cards:hover {
  background-color: #ffffff9e;
  transform: scale(1.03);
}

.cards:hover .isi {
  display: block;
  opacity: 1;
}

.isi h4,
.isi button {
  color: white;
}

.cards-1 {
  background-image: url("./img/kgb.png");
  background-size: cover;
}

.cards-2 {
  background-image: url("https://via.placeholder.com/300x200/FFC300/FFFFFF?text=Image+2");
}

.cards-3 {
  background-image: url("https://via.placeholder.com/300x200/DAF7A6/000000?text=Image+3");
}

.cards-4 {
  background-image: url("https://via.placeholder.com/300x200/00FFFF/000000?text=Image+4");
}

.cards-5 {
  background-image: url("https://via.placeholder.com/300x200/FF5733/FFFFFF?text=Image+5");
}

.cardsi-1 {
  background-image: url("./img/safenet.png");
  background-size: cover;
}

.cardsi-2 {
  background-image: url("./img/kalkulatorimt.png");
  background-size: cover;
}

.cardsu-1 {
  background-image: url("");
  background-size: cover;
}

.cardsu-2 {
  background-image: url("");
  background-size: cover;
}
