@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.service {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3c5b6f;
  padding: 10px;
  color: white;
  border-bottom: #3c5b6f solid 1px;
  height: 600px;
}

.service-text {
  margin: 0 auto;
}

.service-text h1 {
  margin-top: 36px;
  margin-bottom: 26px;
}

.card {
  border: #153448 solid 10px;
  border-radius: 20px;
}

.service-text div {
  gap: 2rem;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 60px;
  color: white;
  flex-wrap: wrap;
}

.card div {
  border-radius: 20px;
  background-color: #153448;
  margin: 20px;
  padding: 20px;
}

.card div img {
  width: 100px;
  border-radius: 50%;
  height: 100px;
  padding: 50px;
}

svg {
  width: 100px;
  background-color: #3c5b6f;
  padding: 20px;
  border-radius: 20px;
  margin: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
